/* navbar */
.navbar {
	background-color: #fcfbfa;
}

.navbar-nav .nav-link {
	font-family: 'Quicksand', sans-serif;
	color: #262627;
}

.navbar-nav .nav-link.active {
	font-weight: 700;	
	font-style: italic;
	color: #f20483;
	text-decoration: underline;
}

.navbar-nav .dropdown-menu {
	font-family: 'Quicksand', sans-serif;
	color: #262627;
}

/* relbar */
div.related {
	width: 100%;
	padding: 10px 20px 5px;
	background-color: #06329f;
	color: #fff;
	/* line-height: 32px; */
	/* text-shadow: 0px 1px 0 #444; */
	font-size: 0.9em;
}

div.related h3 {
	font-family: 'Quicksand', sans-serif;
}

div.related ul {
	display: block;
	margin: 0;
	padding: 0 0 0 10px;
	list-style: none;
}

div.related li {
	display: inline;
}

div.related a {
	color: #fff;
}